.layout {
	width: 100vw;
	max-height: 80vh;
	min-height: 77vh;
	overflow-y: scroll;
}

.borda {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.menu-items {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}

.menu-titles {
	width: 100%;
	margin-top: 30px;
	flex-direction: column;
}
.product-description {
	display: flex;
	gap: 15px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.menu-buttons {
	display: flex;
	gap: 10px;
}

.desenho {
	width: fit-content;
	background-color: rgb(117, 117, 117);
	padding: 10px;
}

.wrapper-items {
	display: flex;
	flex-direction: row;
	background-color: rgb(195, 195, 195);
}

.teclado {
	position: absolute;
}

.image-teclado {
	width: 340px;
	height: 160px;
	z-index: 999;
}

.screen {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
}
